<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\CatalogInventory\Model\StockStateProvider" type="Virtualheight\ACSM\Model\StockStateProvider" />
	<preference for="Magento\InventorySales\Model\IsProductSalableForRequestedQtyCondition\IsSalableWithReservationsCondition" type="Virtualheight\ACSM\Model\IsSalableWithReservationsCondition" />
</config>