<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="virtualheight" sortOrder="100" translate="label">
			<label>Virtualheight</label>
		</tab>
		<section id="acsm" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Add to Cart Success Message Modal Popup (ACSM)</label>
			<tab>virtualheight</tab>
			<resource>Virtualheight_ACSM::config_virtualheight_acsm</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="ACSMenable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select" canRestore="1">
					<label>Enable ACSM</label>
					<comment>Enable/Disable ACSM Module</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				
				<field id="acsmpopuptype" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Message Popup Type</label>
                    <source_model>virtualheight\ACSM\Model\Config\Source\Popuptype</source_model>
			    </field>
				
				<field id="ACSMposition" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>ACSM Position</label>
                    <source_model>Virtualheight\ACSM\Model\Config\Source\Position</source_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
			    </field>
				<field id="msgwidth" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Width of Notification Bar</label>
                    <validate>validate-number validate-number-range number-range-1-100</validate>
					<comment><![CDATA[Width of Notification Bar(%). Ex. 20]]></comment>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
                <field id="closeoptions" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Close Notification</label>
                    <source_model>Virtualheight\ACSM\Model\Config\Source\Close</source_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="mbautotime" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Auto Hide Time</label>
                    <validate>validate-number validate-number-range number-range-1-50000</validate>
					<comment><![CDATA[Default 5000]]></comment>
					<depends>
                        <field id="closeoptions">0</field>
						<field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="successSeparator" translate="label comment" type="label" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1"> 
						<label>Success Message Color and Style</label> 
						<frontend_model>Virtualheight\ACSM\Block\System\Config\Separator</frontend_model>
						<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
				</field>
                <field id="successbgcolor" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Virtualheight\ACSM\Block\Color</frontend_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
                <field id="successforecolor" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Foreground Color</label>
                    <frontend_model>Virtualheight\ACSM\Block\Color</frontend_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="successfontsize" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Font Size</label>
					<comment>Default Font Size 14px</comment>
					<validate>validate-digits validate-digits-range digits-range-0-30</validate>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="successpadding" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Padding</label>
					<comment>Define Value Like 0px 0px 0px 0px</comment>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="successmargin" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Margin</label>
					<comment>Define Value Like 0px 0px 0px 0px</comment>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="errorSeparator" translate="label comment" type="label" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1"> 
						<label>Error Message Color and Style</label> 
						<frontend_model>Virtualheight\ACSM\Block\System\Config\Separator</frontend_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
				</field>
                <field id="errorbgcolor" translate="label" type="text" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Virtualheight\ACSM\Block\Color</frontend_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
                <field id="errorforecolor" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Foreground Color</label>
                    <frontend_model>Virtualheight\ACSM\Block\Color</frontend_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="errorfontsize" translate="label" type="text" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Font Size</label>
					<comment>Default Font Size 14px</comment>
					<validate>validate-digits validate-digits-range digits-range-0-30</validate>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="errorpadding" translate="label" type="text" sortOrder="290" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Padding</label>
					<comment>Define Value Like 0px 0px 0px 0px</comment>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="errormargin" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Margin</label>
					<comment>Define Value Like 0px 0px 0px 0px</comment>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="noticeSeparator" translate="label comment" type="label" sortOrder="330" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1"> 
					<label>Notice Message Color and Style</label> 
					<frontend_model>Virtualheight\ACSM\Block\System\Config\Separator</frontend_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
				</field>
                <field id="noticebgcolor" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Virtualheight\ACSM\Block\Color</frontend_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
                <field id="noticeforecolor" translate="label" type="text" sortOrder="370" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Foreground Color</label>
                    <frontend_model>Virtualheight\ACSM\Block\Color</frontend_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="noticefontsize" translate="label" type="text" sortOrder="390" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Font Size</label>
					<comment>Default Font Size 14px</comment>
					<validate>validate-digits validate-digits-range digits-range-0-30</validate>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="noticepadding" translate="label" type="text" sortOrder="410" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Padding</label>
					<comment>Define Value Like 0px 0px 0px 0px</comment>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="noticemargin" translate="label" type="text" sortOrder="430" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Margin</label>
					<comment>Define Value Like 0px 0px 0px 0px</comment>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
                <field id="warningSeparator" translate="label comment" type="label" sortOrder="450" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1"> 
					<label>Warning Message Color and Style</label> 
					<frontend_model>Virtualheight\ACSM\Block\System\Config\Separator</frontend_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
				</field>
                <field id="warningbgcolor" translate="label" type="text" sortOrder="470" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Virtualheight\ACSM\Block\Color</frontend_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
                <field id="warningforecolor" translate="label" type="text" sortOrder="490" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Foreground Color</label>
                    <frontend_model>Virtualheight\ACSM\Block\Color</frontend_model>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="warningfontsize" translate="label" type="text" sortOrder="510" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Font Size</label>
					<comment>Default Font Size 14px</comment>
					<validate>validate-digits validate-digits-range digits-range-0-30</validate>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="warningpadding" translate="label" type="text" sortOrder="530" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Padding</label>
					<comment>Define Value Like 0px 0px 0px 0px</comment>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
				<field id="warningmargin" translate="label" type="text" sortOrder="550" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Margin</label>
					<comment>Define Value Like 0px 0px 0px 0px</comment>
					<depends>
                        <field id="acsmpopuptype">0</field>
                    </depends>
                </field>
			</group>
			<group id="support" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Info</label>
				<field id="style" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1"> 
					<label>Info</label> 
					<frontend_model>Virtualheight\ACSM\Block\Adminhtml\System\Config\Support</frontend_model>
				</field>
			</group>
		</section>
	</system>
</config>